<html>
  <head>
    <title> Modificadores Piolas </title>
    <style>
    h1 {
      font-family: "Arial";
      margin-left: 80px;
      margin-top: 40px;
    }

    h2 {
      font-family: "Arial";
      margin-left: 160px;
    }
    </style>
  <head>
  <body>
    <h1>Tu modificador aleatorio:</h1>
    <h2> {{modif}} </h2>
  <body>
</html>
